server:
  port: 8080

spring:
  data:
    redis:
      port: 6379
      lettuce:
        pool:
          max-active: 16
          max-idle: 8
          min-idle: 0
  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail.smtp.starttls.enable: true
#      mail.smtp.ssl.enable: false

jwt:
  secret: ${JWT_SECRET}
  expMin: 60

app:
  email:
    from: ${MAIL_FROM}
    verification:
      token-ttl-minutes: 10
      session-ttl-minutes: 60